# Base de dades SQLite
vvss.db
vvss.db-shm
vvss.db-wal

# Fitxers generats
quadrant.csv
quadrant_actual.csv
quadrant.json
quadrant_actual.json

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
